<% for(let i=0; i<todo.length; i++){ %>

<!--begin::Item-->
<div class="d-flex align-items-center mb-8">
    <span class="bullet bullet-vertical h-40px bg-success"></span>
    
    <div class="flex-grow-1 mx-5">
        <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6"><%= todo[i].box_name %></a>
        <span class="text-muted fw-bold d-block">Due in 2 Days</span>
    </div>
    <span class="badge badge-light-success fs-8 fw-bolder">Edit</span>
</div>
<!--end:Item-->

<% } %>