
        <%- include("include/_header")  %> 

					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<!--begin::Container-->
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
								<!--begin::Page title-->
								<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
									<!--begin::Title-->
									<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Kumagofoods</h1>
									<!--end::Title-->
								</div>
								<!--end::Page title-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Toolbar-->




						<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl">
								<!--begin::Row-->
								<div class="row gy-5 g-xl-10">
									<!--begin::Col-->
									<div class="col-xl-4 mb-xl-10">
										<!--begin::Engage widget 1-->
										<div class="card h-md-100">
											<!--begin::Body-->
											<div class="card-body d-flex flex-column flex-center">
												<!--begin::Heading-->
												<div class="mb-2">
                                                    <!--begin::Title-->
													<h1 class="fw-bold text-gray-800 text-center lh-lg">Quick form to
                                                    <br />
                                                    <span class="fw-boldest">Build your Box</span></h1>
                                                    <!--end::Title-->
													<!--begin::Illustration-->
													<div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-200px my-5 my-lg-12" style="background-image:url('media/svg/illustrations/easy/4.svg')"></div>
													<!--end::Illustration-->
												</div>
												<!--end::Heading-->
												<!--begin::Links-->
												<div class="text-center">
													<!--begin::Link-->
													<a class="btn btn-sm btn-primary me-2" data-bs-target="#kt_modal_offer_a_deal" data-bs-toggle="modal">Start Now</a>
													<!--end::Link-->
												</div>
												<!--end::Links-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Engage widget 1-->
									</div>
									<!--end::Col-->
									<!--begin::Col-->
									<div class="col-xl-8 mb-5 mb-xl-10">
										<!--begin::Row-->
										<div class="row g-lg-5 g-xl-10">
											<!--begin::Col-->
											<div class="col-md-6 col-xl-6 mb-md-5 mb-xl-10">
												<!--begin::List widget 11-->
												<div class="card card-flush h-xl-100">
													<!--begin::Header-->
													<div class="card-header pt-7 mb-3">
														<!--begin::Title-->
														<h3 class="card-title align-items-start flex-column">
															<span class="card-label fw-bolder text-gray-800">Create a Customised Box</span>
														</h3>
														<!--end::Title-->
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body pt-4">
                                                        <!--begin::Search-->
                                                        <div class="d-flex align-items-center position-relative my-1">
                                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->
                                                            <input type="text" data-kt-ecommerce-category-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Products" />
                                                        </div>
                                                        <!--end::Search-->
                                                        <!--begin::Separator-->
														<div class="separator separator-dashed my-5"></div>
														<!--end::Separator-->
														<!--begin::Item-->
														<div class="d-flex flex-stack">
															<!--begin::Section-->
															<div class="d-flex align-items-center me-5">
																<!--begin::Content-->
																<div class="me-5">
																	<!--begin::Title-->
																	<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Ships</a>
																	<!--end::Title-->
																</div>
																<!--end::Content-->
															</div>
															<!--end::Section-->
															<!--begin::Wrapper-->
															<div class="text-gray-400 fw-bolder fs-7 text-end">
															<!--begin::Number-->
															<span class="text-gray-800 fw-bolder fs-6 d-block">&#8358; 2,345</span>
															<!--end::Number--></div>
															<!--end::Wrapper-->
														</div>
														<!--end::Item-->
														<!--begin::Separator-->
														<div class="separator separator-dashed my-5"></div>
														<!--end::Separator-->
														<div class="text-center pt-9">
															<a href="" class="btn btn-primary">Place Order</a>
														</div>
													</div>
													<!--end::Body-->
												</div>
												<!--end::List widget 11-->
											</div>
											<!--end::Col-->
											<!--begin::Col-->
											<div class="col-md-6 col-xl-6 mb-md-5 mb-xl-10">
												<!--begin::Card widget 13-->
												<div class="card overflow-hidden h-md-50 mb-5 mb-xl-10">
													<!--begin::Card body-->
													<div class="card-body d-flex justify-content-between flex-column px-0 pb-0">
														<!--begin::Statistics-->
														<div class="mb-4 px-9">
															<!--begin::Statistics-->
															<div class="d-flex align-items-center mb-2">
																<!--begin::Value-->
																<span class="fs-2hx fw-bolder text-gray-800 me-2 lh-1 ls-n2">259,786</span>
																<!--end::Value-->
																<!--begin::Label-->
																<!--end::Label-->
															</div>
															<!--end::Statistics-->
															<!--begin::Description-->
															<span class="fs-6 fw-bold text-gray-400">Total Shipments</span>
															<!--end::Description-->
														</div>
														<!--end::Statistics-->
													</div>
													<!--end::Card body-->
												</div>
												<!--end::Card widget 13-->
												<!--begin::Card widget 7-->
												<div class="card card-flush h-md-50 mb-lg-10">
													<!--begin::Header-->
													<div class="card-header pt-5">
														<!--begin::Title-->
														<div class="card-title d-flex flex-column">
															<!--begin::Amount-->
															<span class="fs-2hx fw-bolder text-dark me-2 lh-1 ls-n2">604</span>
															<!--end::Amount-->
															<!--begin::Subtitle-->
															<span class="text-gray-400 pt-1 fw-bold fs-6">New Customers This Month</span>
															<!--end::Subtitle-->
														</div>
														<!--end::Title-->
													</div>
													<!--end::Header-->
												</div>
												<!--end::Card widget 7-->
											</div>
											<!--end::Col-->
										</div>
										<!--end::Row-->
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Content-->




					<!--begin::Footer-->
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted fw-bold me-1">2022©</span>
								<a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Menu-->
							<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
								<li class="menu-item">
									<a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
								</li>
								<li class="menu-item">
									<a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
								</li>
								<li class="menu-item">
									<a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
								</li>
							</ul>
							<!--end::Menu-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
		<!--end::Main-->



		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
		<!--begin::Modals-->
		<%- include("include/_box")  %> 
		<!--end::Modals-->





















        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="js/application.js"></script>

		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="plugins/global/plugins.bundle.js"></script>
		<script src="js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Vendors Javascript(used by this page)-->
		<script src="plugins/custom/datatables/datatables.bundle.js"></script>
		<script src="plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<!--end::Page Vendors Javascript-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<script src="js/widgets.bundle.js"></script>
		<script src="js/custom/widgets.js"></script>
		<script src="js/custom/apps/chat/chat.js"></script>
		<script src="js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="js/custom/utilities/modals/offer-a-deal/type.js"></script>
		<script src="js/custom/utilities/modals/offer-a-deal/details.js"></script>
		<script src="js/custom/utilities/modals/offer-a-deal/finance.js"></script>
		<script src="js/custom/utilities/modals/offer-a-deal/complete.js"></script>
		<script src="js/custom/utilities/modals/offer-a-deal/main.js"></script>
		<script src="js/custom/utilities/modals/users-search.js"></script>
		<!--end::Page Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>