<tr>
    <td>
        <div class="form-check form-check-sm form-check-custom form-check-solid">
            <input class="form-check-input widget-13-check" type="checkbox" value="1" />
        </div>
    </td>
    <td>
        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">05822-FXSP</a>
    </td>
    <td>
        <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">04/18/2021</a>
    </td>
    <td>
        <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">Agoda</a>
    </td>
    <td class="text-dark fw-bolder text-hover-primary fs-6">$4850</td>
    <td class="text-end">
        <a href="#" class="btn btn-bg-light btn-danger btn-sm px-4 me-2">Delete</a>
        <a href="/update_box" class="btn btn-bg-light btn-primary btn-sm px-4">Edit</a>
    </td>
</tr>