<!--begin::Form-->
<form id="kt_ecommerce_edit_order_form" class="form d-flex flex-column flex-lg-row" action="/api/product" method="POST">
    <!--begin::Aside column-->
    <div class="w-100 flex-lg-row-auto w-lg-300px mb-7 me-7 me-lg-10">
        <!--begin::Order details-->
        <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Box Details</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="d-flex flex-column gap-10">
                    <!--begin::Input group-->
                    <div class="fv-row">
                        <!--begin::Label-->
                        <label class="required form-label">Box Name</label>
                        <!--end::Label-->
                        <!--begin::Select2-->
                        <input type="text" class="form-control" name="box_name">
                        <!--end::Select2-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row">
                        <!--begin::Label-->
                        <label class="required form-label">Box Description</label>
                        <!--end::Label-->
                        <!--begin::Select2-->
                        <input type="text" class="form-control" name="box_description" >
                        <!--end::Select2-->
                    </div>
                    <!--end::Input group-->
                </div>
            </div>
            <!--end::Card header-->
        </div>
        <!--end::Order details-->
    </div>
    <!--end::Aside column-->
    <!--begin::Main column-->
    <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
        <!--begin::Order details-->
        <div class="card card-flush py-4">
            <div class="card-header">
                <!--begin::Modal title-->
                <h2>Add Items to your Box</h2>
                <!--end::Modal title-->
            </div>
            <!--end::Modal header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="d-flex flex-column gap-10">
                    <div class="row">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" id="item" name="" class="form-control form-control-solid w-250px ps-14" placeholder="Search Products" />
                            <input type="text" id="price" name="" class="form-control form-control-solid w-250px ps-14" />
                            <!-- <input type="text" id="item" onkeyup="sendData(this)" name="" class="form-control form-control-solid w-250px ps-14" placeholder="Search Products" /> -->
                            <button type="button" id="kt_ecommerce_add_order_submit" class="btn btn-primary">Add</button>
                        </div>
                        <!--begin::Input group-->
                    </div>
                    <!--end::Search-->
                    <div>
                        <!--begin::Selected products-->
                        <!--begin::Total price-->
                        <div class="fw-bolder fs-4">Total Cost:  &#8358;
                            <span id="kt_ecommerce_edit_order_total_price">0.00</span>
                            <input type="hidden" id="total_price" name="total_price">
                        </div>
                        <!--end::Total price-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Separator-->
                    <div class="separator"></div>
                    <!--end::Separator-->
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_edit_order_product_table">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-200px">Product</th>
                                <th class="min-w-100px text-end pe-5">Action</th>
                            </tr>
                        </thead> 
                        <!--end::Table head-->

                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600" id="cart">
                            <!--begin::Table row-->
                            <tr id="total_price_container"></tr>
                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Card header-->
        </div>
        <!--end::Order details-->
        
        <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_edit_order_cancel" class="btn btn-light me-5">Cancel</a>
            <!--end::Button-->
            <!--begin::Button-->
            <button type="submit" id="kt_ecommerce_edit_order_submit" class="btn btn-primary">
                <span class="indicator-label">Save Changes</span>
                <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <!--end::Button-->
        </div>
    </div>
    <!--end::Main column-->
</form>
<!--end::Form-->